[data-id='9f5398a2770398c1268f6965021ef617'] /* der */
{
  color: blue;
  font-style: italic;
}

[data-id='977b822fbb02fc63c26f66541638cc97'] /* die */
{
  color: red;
  font-style: italic;
}

[data-id='bec0c1cf449319e7edb52fa0fd778054'] /* das */
{
  color: green;
  font-style: italic;
}
