html {
  padding: 0;
  margin:  0;
  width:  100%;
  height: 100%;
}

body {
  padding: 0;
  margin:  0;
}

#main-panel {
  width:  100%;
  height: 100%;
  overflow: scroll;
  flex-grow: 1;
}

.surface {
  position: relative;
  background-color: #b5b5b5;
  cursor: crosshair;
}

#main-surface {
  width:  500rem;
  height: 500rem;
}

.links {
  position: absolute;
  width:  100%;
  height: 100%;
  pointer-events: none;
}

#cursor {
  display: block;
  position: absolute;
  width:  2px;
  height: 16px;
  margin-top:  -8px;
  margin-left: -1px;
  background-color: #000;
  outline: 1px solid #fff;
}
#cursor:after {
  content: '';
  display: block;
  width: 16px;
  height: 2px;
  margin-left: -7px;
  margin-top: 7px;
  background-color: #000;
  outline: 1px solid #fff;
}
#cursor.insert-mode {
  width:  64px;
  height: 32px;
  margin-left: 0;
  margin-top:  0;
  background-color: transparent;
  outline: 1px solid #000;
  border:  1px solid #fff;
}
#cursor.insert-mode:after {
  display: none;
}

@keyframes blink-animation {
  to { visibility: hidden; }
}
.blinking {
  animation: blink-animation 1s steps(2, start) infinite;
}

.node {
  position: absolute;
  z-index: 2;
  background-color: #fff;
  width:  50px;
  height: 20px;
  margin-left: -25px;
  margin-top:  -10px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: Hack, monospace;
  font-size: 10px;
  line-height: 25px;
  text-align: center;
}

.node.highlighted {
  background-color: #ffff98;
}
.node.instance-highlighted {
  background-color: #888;
}

.node.selected {
  background-color: orange;
}

.node input {
  background-color: transparent;
  border: none;
  padding: 0;
  text-align: center;
  font-family: monospace;
  font-size: 14px;
  line-height: 40px;
}
.node:focus {
  outline: none;
}

.link {
  stroke: #444;
  stroke-width: 12px;
  fill: none;
  marker-end: url(#Triangle);
  cursor: pointer;
  pointer-events: stroke;
}
.link-arrow {
  fill: #444;
}

.link:hover {
  stroke: #4e4e4e;
}

.link.selected {
  stroke: orange;
}

#svg-defs {
  position: fixed;
  width:  0;
  height: 0;
}

#selection-box {
  position: absolute;
  background-color: grey;
  opacity: 0.5;
  pointer-events: none;
}

.surface.dragging-selection-box .node,
.surface.dragging-selection-box .link {
  pointer-events: none;
}

.dragging {
  pointer-events: none;
}

iframe {
  position: fixed;
  right: 0;
  top: 0;
  background-color: #fff;
}

#find-panel {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 350px;
  background-color: #b5b5b5;
  border-top: 1px solid grey;
}

.hidden {
  display: none;
}
