/*!
 *  Hack typeface https://github.com/source-foundry/Hack
 *  License: https://github.com/source-foundry/Hack/blob/master/LICENSE.md
 */
@font-face {
  font-family: 'Hack';
  src: url('fonts/hack-regular-subset.woff2?sha=3114f1256') format('woff2'), url('fonts/hack-regular-subset.woff?sha=3114f1256') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Hack';
  src: url('fonts/hack-bold-subset.woff2?sha=3114f1256') format('woff2'), url('fonts/hack-bold-subset.woff?sha=3114f1256') format('woff');
  font-weight: 700;
  font-style: normal;
}

html {
  padding: 0;
  margin:  0;
  width:  100%;
  height: 100%;
}

body {
  padding: 0;
  margin:  0;
}

body.dragging .surface {
  cursor: move;
}
body.dragging :not(.surface) {
  pointer-events: none;
}

.surface {
  position: relative;
  background-color: #b5b5b5;
  cursor: crosshair;
}
.surface.current {
  outline: 2px solid #9de1fe;
  outline-offset: -2px;
}

#main-surface {
  width:  500rem;
  height: 500rem;
}

.links {
  position: absolute;
  width:  100%;
  height: 100%;
  pointer-events: none;
}

.cursor {
  display: block;
  position: absolute;
  z-index: 2;
  width:  2px;
  height: 16px;
  margin-top:  -8px;
  margin-left: -1px;
  background-color: #000;
  outline: 1px solid #fff;
}
.cursor:after {
  content: '';
  display: block;
  width: 16px;
  height: 2px;
  margin-left: -7px;
  margin-top: 7px;
  background-color: #000;
  outline: 1px solid #fff;
}
.cursor.insert-mode {
  width:  64px;
  height: 32px;
  margin-left: 0;
  margin-top:  0;
  background-color: transparent;
  outline: 1px solid #000;
  border:  1px solid #fff;
}
.cursor.insert-mode:after {
  display: none;
}
@keyframes blink-animation {
  to { visibility: hidden; }
}
.surface.current .cursor.blinking {
  animation: blink-animation 1s steps(2, start) infinite;
}

.node {
  position: absolute;
  z-index: 2;
  box-sizing: border-box;
  width:  50px;
  height: 20px;
  margin-left: 7px;
  margin-top:  6px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: Hack, monospace;
  font-size: 10px;
  line-height: 25px;
  text-align: center;
}
.node.highlighted {
  background-color: #ffff98;
}
.node.highlight-for-connected {
  border: 2px solid purple;
}
.node.mouse-over-instance {
  background-color: #888;
}
.node.cursor-at-instance {
  border: 2px solid #000;
}
.node.name-match-selected {
  border: 2px solid orange;
}

.node.selected {
  background-color: orange;
}
.node:focus {
  outline: none;
}

.link {
  stroke: #444;
  stroke-width: 12px;
  fill: none;
  marker-end: url(#Triangle);
  cursor: pointer;
  pointer-events: stroke;
}
.link-arrow {
  fill: #444;
}
.link:hover {
  stroke: #4e4e4e;
}
.link.highlight-for-connected {
  stroke: purple;
}
.link.mouse-over-instance {
  stroke: grey;
}
.link.selected {
  stroke: orange;
}

#svg-defs {
  position: fixed;
  width:  0;
  height: 0;
}

.selection-box {
  position: absolute;
  background-color: grey;
  border: 1px solid grey;
  opacity: 0.5;
  pointer-events: none;
}

body.dragging-selection-box :not(.surface) {
  pointer-events: none;
}

#name-match-panel {
  position: absolute;
  display: block;
  padding-top:    5px;
  padding-bottom: 5px;
  background-color: #fff;
  box-shadow: 1px 3px 18px #000;
  z-index: 2;
}
.name-match {
  height: 18px;
  padding-left:  5px;
  padding-right: 5px;
  cursor: pointer;
}
.name-match.selected {
  background-color: orange;
}
.name-match:hover {
  background-color: grey;
}


/* Find panel */

#find-panel {
  position: fixed;
  left:   8px;
  right:  8px;
  bottom: 8px;
  height: 350px;
  z-index: 2;
  background-color: #b5b5b5;
  border-top: 1px solid grey;
  box-shadow: 1px 3px 18px #000;
}

.hidden {
  display: none;
}

button {
  border-radius: 20px;
  border: none;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items:     center;
  cursor: pointer;
  box-shadow: 2px 2px 18px #000;
}
button:hover {
  background-color: grey;
}
button:focus {
  outline: none;
}
button:active {
  transform: translate(2px, 2px);
  box-shadow: 1px 0px 12px #000;
}


/* Help */

#help-button {
  position: fixed;
  top:    8px;
  right:  8px;
  width:  40px;
  height: 40px;
  z-index: 2;
}
#help-button:after {
  content: '?';
  font-weight: bold;
  font-size: 1.4rem;
}
body.showing-help #help-button:after {
  content: 'X';
}

#help-screen {
  display: none;
  position: fixed;
  left:   8px;
  top:    8px;
  bottom: 8px;
  right: 58px;
  z-index: 3;
  background-color: #fff;
  padding: 20px;
  overflow-y: auto;
  box-shadow: 1px 3px 18px #000;
}
body.showing-help #help-screen {
  display: block;
}
#help-screen h1 {
  color: #333f4f;
  font-size: 34px;
  text-align: center;
}
#help-screen h1 img {
  width: 45px;
  height: 61px;
  margin-bottom: -10px;
}
#help-screen table {
  border-spacing: 20px;
}
#help-screen table td:first-of-type {
  text-align: right;
}

.help-key {
  display: inline-flex;
  background-color: #ccc;
  border: 1px solid #888;
  border-radius: 5px;
  min-height: 25px;
  justify-content: center;
  align-items: center;
  padding-left:  7px;
  padding-right: 7px;
  margin: 2px;
}
.help-key.spacebar {
  min-width: 100px;
  font-style: italic;
}

#export-button {
  position: fixed;
  right: 56px;
  top:   8px;
  min-width: 40px;
  height:    40px;
  padding-left:  8px;
  padding-right: 8px;
  z-index: 3;
  font-weight: bold;
  font-size: 1.4rem;
}
