html {
  padding: 0;
  margin:  0;
  width:  100%;
  height: 100%;
}

body {
  padding: 0;
  margin:  0;
}

#layer-selector {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 40px;
  z-index: 3;
  background-color: grey;
}

#new-layer-tab {
  width:  30px;
  height: 30px;
}

.layer-tab {
  height: 40px;
  line-height: 40px;
  padding: 0;
}

.layer-tab.current-layer {
  outline: 2px solid orange;
  outline-offset: -2px;
}

.layer {
  display: none;
}

.layer.current-layer {
  display: block;
  position: absolute;
  left: 0;
  top:  0;
  width:  500rem;
  height: 500rem;
  background-color: #b5b5b5;
}

.links {
  position: absolute;
  width:  100%;
  height: 100%;
  pointer-events: none;
}

.hidden {
  display: none !important;
/*   opacity: 0.4; */
}

#cursor {
  display: block;
  position: absolute;
  width:  2px;
  height: 16px;
  margin-top:  -8px;
  margin-left: -1px;
  background-color: red;
}
#cursor:after {
  content: '';
  display: block;
  width: 16px;
  height: 2px;
  margin-left: -7px;
  margin-top: 7px;
  background-color: red;
}

.node {
  position: absolute;
  z-index: 2;
  background-color: #fff;
  width:  50px;
  height: 50px;
  margin-left: -25px;
  margin-top:  -25px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: monospace;
  font-size: 14px;
  line-height: 50px;
  text-align: center;
}

.node.highlighted {
  background-color: #4e4e4e;
}

.node.selected {
  background-color: orange;
}

.node.collapsed {
  outline: 4px solid green;
}

.node:focus {
  outline: 4px solid red;
}

.node input {
  background-color: transparent;
  border: none;
  padding: 0;
  text-align: center;
  font-family: monospace;
  font-size: 14px;
  line-height: 40px;
}
.node input:focus {
  outline: none;
}

.link {
  stroke: #000;
  stroke-width: 16px;
  fill: none;
  marker-end: url(#Triangle);
  cursor: pointer;
  pointer-events: stroke;
}

.link:hover {
  stroke: #4e4e4e;
}

.link.selected {
  stroke: orange;
}

#selection-box {
  position: absolute;
  background-color: grey;
  opacity: 0.5;
}

.dragging {
  pointer-events: none;
}

iframe {
  position: fixed;
  right: 0;
  top: 0;
  background-color: #fff;
}

table {
  position: absolute;
  border: none;
  border-collapse: collapse;
}

table:after {
  content: ' ';
  display: block;
  position: absolute;
  top:   -57px;
  left:  -57px;
  width:  50px;
  height: 50px;
  background-color: gray;
  cursor: pointer;
}
table:hover:after {
  background-color: #4e4e4e;
}

td {
  border: 1px solid #fff;
  background-color: gray;
  opacity: 0.3;
  box-sizing: border-box;
  padding: 0;
}
td.drag-drop-target:hover {
  border: 2px solid orange;
}
