.panels-container {
  z-index: 3;
  filter: drop-shadow(0 0 12px #333);
  pointer-events: none;
  font-size: 12px;
}

.panels-container .headers {
  display: flex;
  justify-content: flex-end;
  pointer-events: auto;
}
.panels-container.right .headers {
  align-self: flex-start;
  flex-direction: column;
  position: absolute;
  right: calc(100% + 20px);
  margin-top: 30px;
}
.panels-container.right.expanded .headers {
  right: 100%;
}
.panels-container.bottom .headers {
  flex-direction: row;
  position: absolute;
  bottom: calc(100% + 20px);
  padding-left: 40px;
}
.panels-container.bottom.expanded .headers {
  bottom: 100%;
}

.panels-container .panel {
  display: none;
  transform-origin: right;
}
.panels-container .panels {
  height: 100%;
}

.panels-container .panel.expanded {
  display: block;
  background-color: #fff;
  overflow-y: auto;
  box-sizing: border-box;
}
@keyframes expanding-panel {
  from { margin-right: -100vw; }
  to { margin-right: 0; }
}

.panels-container.right .panel {
  height: 100%;
}

.panel button {
  height: 40px;
  padding-left:  10px;
  padding-right: 10px;
}
.panels-container.right .panel button {
  display: block;
}

.panels-container .headers button {
  background-color: #000;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-left:  7px;
  padding-right: 7px;
  min-width:  20px;
  height: 32px;
}
.panels-container .headers button:hover {
  background-color: #696969;
}
.panels-container .headers button:active {
  
}
.panels-container .headers button.expanded {
  background-color: #fff;
  color: #000;
}
.panels-container.right .headers button {
  margin-top:    3px;
  margin-bottom: 3px;
  border-top-left-radius:    5px;
  border-bottom-left-radius: 5px;
}

.panels {
  margin-right: 0;
  pointer-events: auto;
}
.panels-container.right.expanded .panels {
  margin-right: 0 !important;
}
.panels-container.bottom.expanded .panels {
  margin-bottom: 0 !important;
}

/* commands */
.panels-container[data-panel="commands"] .headers button[data-panel="commands"] {
  background-color: #fff;
  color: #000;
  width: 110%;
  margin-left: -10%;
}
.panels-container[data-panel="commands"] .panel[data-panel="commands"] {
  display: flex;
}
.panels-container[data-panel="commands"] .panels>:not([data-panel="commands"]) {
  display: none;
}
.panels-container[data-panel="commands"] .panels {
  margin-right: -300px;
}
.panel[data-panel="commands"] {
  width: 300px;
  flex-direction: column;
  overflow-y: auto;
  background-color: #fff;
}
.panel[data-panel="commands"] .category-title {
  text-align: center !important;
  font-style: italic;
  font-size: 1.2em;
  color: #bbb;
  font-weight: bold;
  padding-top: 14px;
}
.panel[data-panel="commands"] button {
  text-align: right;
}
.panel[data-panel="commands"] table {
  border-spacing: 0 10px;
}
.panel[data-panel="commands"] tr[data-command] {
  cursor: pointer;
}
.panel[data-panel="commands"] tr[data-command]:hover {
  background-color: grey;
}
.panel[data-panel="commands"] tr td:nth-of-type(1) {
  text-align: right;
  padding-right: 8px;
}
.panel[data-panel="commands"] tr td:nth-of-type(2) {
  font-size: 0.7em;
  text-align: left;
  padding-left: 8px;
}

.panel[data-panel="commands"] tr td:nth-of-type(2) span {
  display: inline-flex;
  background-color: #ccc;
  border: 1px solid #888;
  border-radius: 5px;
  min-height: 18px;
  justify-content: center;
  align-items: center;
  padding-left:  4px;
  padding-right: 4px;
  margin: 2px;
}
.panel[data-panel="commands"] tr td:nth-of-type(2) .spacebar {
  min-width: 100px;
  font-style: italic;
}


.panels-container[data-panel="find"] .headers button[data-panel="find"] {
  background-color: #fff;
  color: #000;
  width: 110%;
}
.panels-container[data-panel="find"] .panel[data-panel="find"] {
  display: block;
}
.panels-container[data-panel="find"] .panels>:not([data-panel="find"]) {
  display: none;
}
.panels-container[data-panel="find"] .panels {
  margin-bottom: -250px;
}

.panel[data-panel="find"] {
  height: 250px;
  overflow-y: auto;
}


/* help */
.panels-container[data-panel="help"] .headers button[data-panel="help"] {
  background-color: #fff;
  color: #000;
  width: 110%;
  margin-left: -10%;
}
.panels-container[data-panel="help"] .panel[data-panel="help"] {
  display: block;
}
.panels-container[data-panel="help"] .panels>:not([data-panel="help"]) {
  display: none;
}
.panel[data-panel="help"] {
  width: 50vw;
  box-sizing: border-box;
  overflow-y: auto;
  background-color: #fff;
}
.panels-container[data-panel="help"] .panels {
  margin-right: -50vw;
}

.panels-container[data-panel="javascript"] .headers button[data-panel="javascript"] {
  background-color: #fff;
  color: #000;
  width: 110%;
  margin-left: -10%;
}
.panels-container[data-panel="javascript"] .panel[data-panel="javascript"] {
  display: flex;
}
.panels-container[data-panel="javascript"] .panels>:not([data-panel="javascript"]) {
  display: none;
}
.panel[data-panel="javascript"] {
  width: 50vw;
  box-sizing: border-box;
  overflow-y: auto;
  background-color: #fff;
  flex-direction: column;
  padding: 15px;
}
.panels-container[data-panel="javascript"] .panels {
  margin-right: -50vw;
}
.panel[data-panel="javascript"] pre {
  background-color: #F0F0F0;
}
.panel[data-panel="javascript"] .source {
  flex-grow:   1;
  flex-shrink: 1;
}
.panel[data-panel="javascript"] #run_javascript_button {
  background-color: #000;
  border-radius: 5px;
  flex-grow:   0;
  flex-shrink: 0;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
}
.panel[data-panel="javascript"] #run_javascript_button:hover {
  background-color: grey;
}
.panel[data-panel="javascript"] .result {
  flex-grow:   1;
  flex-shrink: 1;
}
.panel[data-panel="javascript"] .result.error {
  background-color: red;
  color: #fff;
  font-weight: bold;
  padding: 5px;
}

.panels-container[data-panel="html"] .headers button[data-panel="html"] {
  background-color: #fff;
  color: #000;
  width: 110%;
  margin-left: -10%;
}
.panels-container[data-panel="html"] .panel[data-panel="html"] {
  display: flex;
}
.panels-container[data-panel="html"] .panels>:not([data-panel="html"]) {
  display: none;
}
.panel[data-panel="html"] {
  width: 50vw;
  box-sizing: border-box;
  overflow-y: auto;
  background-color: #fff;
  flex-direction: column;
  padding: 15px;
}
.panels-container[data-panel="html"] .panels {
  margin-right: -50vw;
}
.panel[data-panel="html"] pre {
  background-color: #F0F0F0;
}
.panel[data-panel="html"] .source {
  flex-grow:   1;
  flex-shrink: 1;
}
.panel[data-panel="html"] #launch_html_button {
  background-color: #000;
  border-radius: 5px;
  flex-grow:   0;
  flex-shrink: 0;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
}
.panel[data-panel="html"] #launch_html_button:hover {
  background-color: grey;
}

.panels-container.bottom .headers button {
  border-top-left-radius:  5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius:  0;
  border-bottom-right-radius: 0;
}


/* Find panel */

#find-panel {
  background-color: #b5b5b5;
  border-top: 1px solid grey;
  box-shadow: 1px 3px 18px #000;
}

.hidden {
  display: none;
}

button {
  border: none;
  background-color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items:     center;
  cursor: pointer;
}
button:hover {
  background-color: grey;
}
button:focus {
  outline: none;
}
button:active {
  transform: translate(2px, 2px);
}
button:active:before {
  display: block;
  content: '';
  position: absolute;
  width: 110%;
  height: 110%;
  top: -10px;
  left: -5px;
  background-color: red;
  opacity: 0;
}


/* Help */

.panel[data-panel='help'] {
  padding: 20px;
}
.panel[data-panel='help'] h1 {
  color: #333f4f;
  font-size: 34px;
  text-align: center;
}
.panel[data-panel='help'] h1 img {
  width: 45px;
  height: 61px;
  margin-bottom: -10px;
}
.panel[data-panel='help'] table {
  border-spacing: 20px;
}
.panel[data-panel='help'] table td:first-of-type {
  text-align: right;
}
